.container {
    font-family:Arial, Helvetica, sans-serif;
    width: 800px;
    height: 630px;
}
.title {
    background-color: rgb(0, 81, 16);
    padding: 10px;
    color: white;
    border-radius: 6px;
}
.album {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 300px;
    width: 220px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 5px;
}
img {
    background-color: darkgrey;
    align-self: start;
    justify-content: center;
    width: 220px;
    height: 250px;
    float:initial;
    cursor: pointer;
    border-radius: 6px 6px 0 0;
}
.text {
    width: 200px;
    height: 50px;
    background-color: deepskyblue;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
}